body {
    max-width: 1440px;
    margin: auto;
}

/* шапка */

.header {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    padding: 92px 49px 92px 51px;
}

.header_menu {
    grid-column: 1/2;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    justify-self: start;
}

.header_logo {
    display: block;
    width: 148px;
    grid-column: 2/4; 
    justify-self: center;
    margin-right: 150px;
}

.address {
    display: inline-block;
    grid-column: 5/6;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height:1.35;
    width: 240px;
    text-underline-position: under;
}

a {
    font-style: normal;
}

.header_address {
    margin: 5px 0 7px 0;
}

.header_links-list {
    list-style:circle;
    display: flex;
    gap: 32px;
}

.header_links-list-item_no-circle {
    list-style: none;
}

.inactive-link {
    text-decoration: none;
}


/* кавер */ 


.cover { 
    min-width: 1440px;
    min-height: 757px;
    position: relative;
    z-index: 0;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
}

.overlay {
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / .6);
    position: absolute;
    z-index: 1; 
}

.cover-title {
    color: #FFF;
    font-family: "Raleway", sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 30px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 2;
    padding: 165px 50px 50px;
}

.aligned-text {
    display: block;
}
.aligned-text_center {
    text-align: center;
}
.aligned-text_right {
    text-align: right;
}

.letter-spacing {
    letter-spacing: 60px;
}
.no_letter-spacing {
    letter-spacing: 0;
}

.cover_description {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 78px;
    
}

.cover_description-text {
    color: #FFF;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    word-spacing: 18px;
    z-index: 2;
    
}

.bet-button {
    background: transparent;
    border: 1px solid #FFF;
    padding: 12px 32px;
    color: #FFF;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    z-index: 2;
    margin-right: 50px;
    
}


/* лоты */ 


.lots {
    width: 1440px;
    min-height: 579px;
    padding: 180px 50px;
    margin-left: auto;
    margin-right: auto;
}

.lots_heading {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 0px 1179px 27px 40px;
}

.lots_card-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    gap: 25px;

}

.lots_card-list-item {
    width: 430px;
    min-height: 450px;
    flex-grow: 1;
}

.card-link {
    display: block;
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
    
}

.card_type_film {
    width: 430px;
    min-height: 450px;
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    z-index: 0;
}
.card_type_book {
    width: 430px;
    min-height: 450px;
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    z-index: 0;
}
.card_type_picture {
    width: 430px;
    min-height: 450px;
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    z-index: 0;
}

.card_title {
    color: #FFF;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
    z-index: 2;
}

.card_text {
    color: #FFF;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    z-index: 2;
}

.link_more {
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 30px 1108px 2px 40px;
    white-space: nowrap;
}

/* секция about */

.about {
    width: 1440px;
    min-height: 487px;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 180px;
}

.about_logo {
    background-color: #000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 95px;
}

.about_logo-image {
    width: 148px;
    margin: 63px 46px; 
}

.about_column {
   display: flex;
   flex-direction: column;
   gap: 100px;
}

.about_title {
    margin-top: 100px;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.about_text {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 885px;
}


/*подвал*/

.footer {
    width: 1340px;
    height: 97px;
    margin: 0 50px 90px 50px;
    display: grid;
    justify-content: space-around;
    align-content: center;
    grid-template-columns: 240px 356px 149px 355px 240px;
    
}

.footer .address {
    grid-column: 1/2;
    line-height: 24.3px;
}

.footer_menu {
    height: 97px;
    align-self: center;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    grid-column: 3/4;
    text-align: center;
}

.footer_links-list {
    list-style: none;
}

.footer_social-list {
    list-style: none;
    grid-column: 5/6;
    display: flex;
    gap: 48px;
}

.footer_social-icon {
    
    height: 48px;
}

